* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #121212;
    color: #E3E3E3;
}
.navbar {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #242526;
    padding: 10px 100px;
    box-shadow: 0px 4px 100px rgba(255, 140, 0, 0.5);
    z-index: 1000;
}
.navbar img {
    height: 70px;
    margin-right: 0px;
}
.nav-links {
    display: flex;
    gap: 20px;
}
.nav-links a {
    position: relative;
    color: #E3E3E3;
    text-decoration: none;
    transition: color 0.3s;
    font-weight: 400;
}
.nav-links a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: #FF9311;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}
.nav-links a:hover::after {
    width: 100%;
    left: 0;
}
.nav-links a:hover {
    color: #FF9311;
}
.connect-wallet {
    background: none;
    border: 2px solid #FF9311;
    color: #E3E3E3;
    padding: 10px 30px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
    font-weight: 600;
    border-radius: 30px;
}
.connect-wallet:hover {
    background: #FF9311;
    color: #242526;
}
.main-content {
    margin: 0px 100px;
    padding: 100px 20px;
}
h1 {
    font-size: 80px;
    font-weight: 600;
    margin: 0;
}
.subheading {
    font-size: 40px;
    margin: 0;
}
.description {
    font-size: 20px;
    margin: 20px 0px;
    line-height: 1.8;
}
.play-button {
    margin: 20px 0px;
    background: #E3E3E3;
    border: none;
    padding: 15px 50px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
    font-weight: 600;
    border-radius: 30px;
}
.play-button:hover {
    background: #FF9311;
}
.logo-container {
    display: flex;
    align-items: center;
}
.logo-text {
    color: #FF9311;
    font-size: 30px;
    font-weight: bold;
}
.menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: #E3E3E3;
}


@media (max-width: 768px) {
    .navbar {
        padding: 10px 20px;
        justify-content: flex-start; /* align yung items to the left */
    }

    .main-content {
        text-align: center;
    }
    .main-content h1 {
        font-size: 38px; /* bawas from 80px */
    }

    .subheading {
        font-size: 24px; /* bawas from 40px */
    }
    .description {
        font-size: 16px; /* bawas from 20px */
    }

    .play-button {
        display: inline-block;
        width: 100%;
        padding: 15px 30px;
        font-size: 14px;       
    }
    .menu-icon {
        display: block;
        order: 1;
        margin-right: 10px;
    }

    .logo-container {
        order: 2;
        margin-left: 10px;
    }
    .navbar img {
        height: 70px;
    }
    .nav-links {
        position: fixed;
        top: 70px; /* leave room for the navbar */
        left: 100%;
        width: 100%;
        height: calc(100vh - 60px);
        background: rgba(36, 37, 38, 0.95);
        z-index: 1000;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: left 0.3s ease-in-out;
    }
    .nav-links.show {
        left: 0;
    }
    .connect-wallet {
        display: none;
    }
    .main-content {
    margin: 5px 5px;
    }
}